{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="about" class="about">
    <div class="container" style="margin-top: 50px;">
        <div class="section-title">
            <h2>Rental Plan</h2>
        </div>
        <div section="about" class="about">
            {% for obj in obj_list %}
                <div class="row">
                    <div class="col">
                    <div class="card" style="width: 32rem; margin-bottom:50px;">
                        <div class="card-body">
                            <div class="card" style="width: 30rem; margin-bottom:50px">
                                <img class="card-img-top" src="{{obj.img.url}}" height="280px" width="210px"
                                    alt="{{obj.name}} Image">
                                <div class="card-body" style="background:rgb(133, 199, 133);">
                                    <h5 class="card-title">{{obj.name}}</h5>
                                    <p class="card-text"><b>Rs. {{obj.price}}/- per hour</b></p>
                                </div>
                            </div>
                            <!-- <h5 class="card-title">{{obj.name}}</h5> -->
                            <p class="card-text">
                            <div class="services">
                                <div class="row">
                                    <div class="col-sm-4 col-sm-4 icon-box">
                                        <div class="icon"><img src="{% static 'assets/img/features/deposit.png' %}"
                                                height="50px" width="50px" alt="feature1"></i></div>
                                        <h5 class="title">Refundable Deposit</h5><small>Rs. {{obj.price}}/- per hour</small>
                                    </div>
                                    <div class="col-sm-4 col-sm-4 icon-box">
                                        <div class="icon"><img src="{% static 'assets/img/features/distance.png' %}"
                                                height="50px" width="50px" alt="feature2"></div>
                                        <h5 class="title">Distance <br>Limit</h5><small>40 Kms/Hour</small>
                                    </div>
                                    <div class="col-sm-4 col-sm-4 icon-box">
                                        <div class="icon"><img src="{% static 'assets/img/features/excess.png' %}" height="50px"
                                                width="50px" alt="feature3"></div>
                                        <h5 class="title">Excess Distance charge</h5><small>Rs. 3/Km</small>
                                    </div>
                                    <div class="col-sm-4 col-sm-4 icon-box">
                                        <div class="icon"><img src="{% static 'assets/img/features/penalty.png' %}"
                                                height="50px" width="50px" alt="feature4"></div>
                                        <h5 class="title">Late Penalty</h5><small>Rs. 100/Hour</small>
                                    </div>
                                    <div class="col-sm-4 col-sm-4 icon-box">
                                        <div class="icon"><img src="{% static 'assets/img/features/speed.png' %}"
                                                height="50px" width="50px" alt="feature5"></div>
                                        <h5 class="title">Maximum Speed</h5><small>80 Km/hour</small>
                                    </div>
                                    <div class="col-sm-4 col-sm-4 icon-box">
                                        <div class="icon"><img src="{% static 'assets/img/features/timings.png' %}" height="50px"
                                                width="50px" alt="feature6"></div>
                                        <h5 class="title">Pickup Timings</h5><small>7:00-23:00</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>  
</section>
{% endblock %}