{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="pricing" class="pricing">
    <div class="container" style="margin-top: 50px;">
        <div class="section-title">
            <h2>Rental History</h2>
            <table style="width:100%; border: 1px solid black;
            border-collapse: collapse;">
                <tr>
                    <th>BIKE NAME</th>
                    <th>FROM DATE</th>
                    <th>TO DATE</th>
                    <th>TOTAL HOURS</th>
                    <th>TOTAL AMOUNT</th>
                </tr>
                {% for rent in rent_list %}
                <tr>
                    <td><img src="{{rent.bike.img.url}}" height="100px" width="100px;">{{rent.bike.name}}</td>
                    <td>{{rent.starttime}}</td>
                    <td>{{rent.endtime}}</td>
                    <td>{{rent.hours}}</td>
                    <td>{{rent.amount}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
</section>
{% endblock %}